<h1 >Template reference variable</h1>

<input type="text" #inputBox  placeholder="Enter">
<button (click)="getValue(inputBox.value)">Click</button><br>
<p>{{inputBox.value}}</p>

<!--Template variable scope-->

<input #ref1 type="text" [(ngModel)]="firstExample" />
<span *ngIf="true">Value: {{ ref1.value }}</span><br>
<!--Accessing a template variable from the parent template works because the child template inherits the context from the parent template.-->
<br>
<button type="button" (click)="fun()">Delete hero</button>
